#=======================================================================================================================#
#=================================   Habilitando a Reescrita de URLs no Apache   =======================================#

RewriteEngine On

#=======================================================================================================================#
#==========   Adicionando exceção para arquivos, permitindo o acesso aos arquivos sem redirecionar a URL   =============#

RewriteCond %{SCRIPT_FILENAME} !-f

#=======================================================================================================================#
#=======================================  Regras de Reescrita de URLs  =================================================#
# ==========================  Redirecionar para a index quando digitar qualquer coisa	================================#
RewriteRule ^.*/?$ index.php [NC,L]		

#=======================================================================================================================#
#=======================================  Regras de Reescrita de URLs  =================================================#
# ======================  Redirecionar para a pagina de login nao houver sessao de usuario =============================#
#RewriteRule ^login/?$ l_login.php [NC,L]